<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tag</key>
		<string>A</string>
		<key>actions</key>
		<array>
			<dict>
				<key>title</key>
				<string>直播</string>
				<key>url</key>
				<string>tool://Actions/LiveBroadcast</string>
			</dict>
		</array>
		<key>sectionTitle</key>
		<string>sectionTitle1</string>
		<key>sectionIndexTitle</key>
		<string>sectionIndexTitle1</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>B</string>
		<key>actions</key>
		<array>
			<dict>
				<key>title</key>
				<string>自定义容器控制器</string>
				<key>url</key>
				<string>tool://Actions/ContainerVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>title</string>
			</dict>
			<dict>
				<key>title</key>
				<string>title</string>
			</dict>
			<dict>
				<key>title</key>
				<string>title</string>
			</dict>
			<dict>
				<key>title</key>
				<string>title</string>
			</dict>
			<dict>
				<key>title</key>
				<string>title</string>
			</dict>
		</array>
		<key>sectionTitle</key>
		<string>sectionTitle1</string>
		<key>sectionIndexTitle</key>
		<string>sectionIndexTitle1</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>C</string>
		<key>actions</key>
		<array>
			<dict>
				<key>title</key>
				<string>title</string>
			</dict>
		</array>
		<key>sectionTitle</key>
		<string>sectionTitle2</string>
		<key>sectionIndexTitle</key>
		<string>sectionIndexTitle2</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>D</string>
		<key>actions</key>
		<array>
			<dict>
				<key>title</key>
				<string>title</string>
			</dict>
		</array>
		<key>sectionTitle</key>
		<string>sectionTitle3</string>
		<key>sectionIndexTitle</key>
		<string>sectionIndexTitle3</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>E</string>
		<key>actions</key>
		<array>
			<dict>
				<key>title</key>
				<string>title</string>
			</dict>
		</array>
		<key>sectionTitle</key>
		<string>sectionTitle4</string>
		<key>sectionIndexTitle</key>
		<string>sectionIndexTitle4</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>F</string>
		<key>actions</key>
		<array>
			<dict>
				<key>title</key>
				<string>title</string>
			</dict>
		</array>
		<key>sectionTitle</key>
		<string>sectionTitle5</string>
		<key>sectionIndexTitle</key>
		<string>sectionIndexTitle5</string>
	</dict>
</array>
</plist>
